#Ignore all files and folders.
/*

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
!Assets/Data
!Assets/Materials
!Assets/OBJs
!Assets/OutlineEffect
!Assets/Prefabs
!Assets/Scenes
!Assets/Scripts
!Assets/TextMesh Pro
!Assets/UI
!ProjectSettings/
!.gitignore
!.gitattributes
